@model EmployeeEducationInfo.Model.Employee
<script src="~/JS/Employee/Edit.js"></script>
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Employee</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Age)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Age)
            @Html.ValidationMessageFor(model => model.Age)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Seniority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Seniority)
            @Html.ValidationMessageFor(model => model.Seniority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EducationInfo)
        </div>
        <div class="editor-field">
            @if (Model.EducationInfo != null)
            {
                var EducationInfo = Model.EducationInfo.ToList();
                <input type="hidden" id="existEducationCount" value="@EducationInfo.Count" />
                for (int i = 0; i < EducationInfo.Count; i++)
                {
                    <table>
                        @Html.HiddenFor(model => EducationInfo[i].Id)
                        <tr>
                            <td>
                                @Html.LabelFor(model => EducationInfo[i].StartTime)
                                @Html.EditorFor(model => EducationInfo[i].StartTime)
                                @Html.ValidationMessageFor(model => EducationInfo[i].StartTime)
                            </td>
                            <td>
                                @Html.LabelFor(model => EducationInfo[i].EndTime)
                                @Html.EditorFor(model => EducationInfo[i].EndTime)
                                @Html.ValidationMessageFor(model => EducationInfo[i].EndTime)
                            </td>
                            <td>
                                @Html.LabelFor(model => EducationInfo[i].Education)
                                @Html.EditorFor(model => EducationInfo[i].Education)
                                @Html.ValidationMessageFor(model => EducationInfo[i].Education)
                            </td>
                            <td>
                                @Html.LabelFor(model => EducationInfo[i].IsDel)
                                @Html.CheckBoxFor(model => EducationInfo[i].IsDel)
                            </td>
                        </tr>
                    </table>
                }
            }
        </div>

        <div>
            <p>
                <input type="button" id="createEducationInfo" value="点击增加一条教育信息" />
                <input type="button" id="deleteEducationInfo" value="点击删除一条教育信息" />
            </p>
            <div id="EducationInfoShow"></div>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
